.figma-logo {
    width: 100px;
}

.FRAME {

    padding: 0.5rem;
    outline: 1px solid #ccc;
    margin-block: 0.5rem;
    border-radius: 5px;
    background: #f1f1f1;

    img {
        width: 100%;
        object-fit: contain;
        outline: 1px dashed #ccc;
        margin-block-start: 0.5rem;
    }
}

.filtered {
    display: none;
}

.figma-tab-title {
    display: flex;
    gap: .75rem;
    align-items: center;
    text-wrap: nowrap;
    
    & img {
        max-width: .75rem;
    }
}

.figma-config {
    & input {
        width: 100%;
    }
}

.figma-files {
    display: grid;
    gap: 1rem;

    & .figma-file {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 1rem;
        max-width: 100%;
        border-bottom: 1px solid;

        & .doc-info {
            display: grid;
            justify-items: start;
            gap: 0.35rem;
            
            & h3 {
                margin-top: 0;
            }
        }

        & img {
            max-width: 150px;
        }
    }
}