body {
	width : fit-content;
	margin: 0;
}

.status {
	padding    : 5px;
	margin-left: 10px;
}

.settings {
	display              : grid;
	grid-template-columns: max-content auto;
	margin               : 25px;
	grid-column-gap      : 15px;
	grid-row-gap         : 5px;
}

	.settings span {
		min-width: 125px;
	}

	.settings input[type="text"] {
		min-width: 200px;
	}

	.settings input[type="checkbox"] {
		margin-left: 0;
	}