.react-tab-title {
    display: flex;
    gap: .75rem;
    align-items: center;
    text-wrap: nowrap;

    & img {
        max-width: .75rem;
    }

    .react-logo {
        width: 100px;
    }
}

.react-tab {

    .url {
        display: block;
        margin-block-end: 1rem;
    }

    .react-component-list {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: minmax(40px, max-content) 1fr;

        .react-component {
            display: grid;
            /* get template columns from parent grid and share with siblings */
            grid-template-columns: subgrid;
            /* fill all columns of the parent grid row (-1 denotes final column) */
            grid-column: 1 / -1;
            padding: .5ch;

            &:hover {
                outline: 1px dotted;
                border-radius: 5px;
                box-shadow: 0px 0px 15px #00000029;
            }
        }
    }
}